{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-d-12">
            <div class="banner">
                <div class="banner-text">

                    <h1>TODO LIST</h1>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
        <form method="POST" class="p-3 shadow">
            {% csrf_token %}
            <div class="form-group">
                 <input type="text" class="form-control" name="task" placeholder="New Task">
            </div>

            <div class="form-group">
                  <input type="text" class="form-control" name="priority" placeholder="Enter Your Priority">

            </div>

            <div class="form-group">
                  <input type="date" class="form-control" name="date" placeholder="Enter Date">

            </div>
                  <input type="Submit" class="btn btn-success">
        </form>

        </div>
        <div class="col-md-6">
            <h4> Tasks </h4>
            {% for i in task2 %}
            <div class="shadow card">
                <div class="card-body">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p><b>{{i.priority}}<br></b></p>
                    <p><b>{{i.date}}<br></b></p>
                    <a class="btn btn-danger" href="{% url 'delete' i.id %}">Done</a>
                    <a class="btn btn-success" href="{% url 'update' i.id %}">update</a>
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

