.banner{
        background-color:teal;
        width:100%;
        height:100px;
        margin-up:15px;
        margin-bottom:20px;
      }
.banner-text{
      top:5%;
      left:45%;
      position:absolute;


      }


